body {
    margin: 0;
    padding: 8%;
    font-size: 16px;
}

#modal {
    position: fixed;
    top: 0;
    left: 0;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
}

#modal > #modal_bg {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    z-index: 0;
}

#modal > #modal_content {
    width: 40%;
    height: 30%;
    padding: 1.5rem 2rem;
    text-align: center;
    border-radius: 0.5rem;
    background-color: white;
    z-index: 1;
}
#modal_content > header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    /* background-color: blue; */
}
#close_btn {
    position: relative;
    top: -20px;
    right: -20px;
    width: 30px;
    height: 30px;
    font-size: 2rem;
    font-weight: bolder;
    color: gray;
    /* background-color: red; */
}
#close_btn:hover {
    cursor: pointer;
    filter: brightness(0.8);
}
.hide {
    visibility: hidden;
}

.show {
    visibility: visible;
    animation-name: modalAnimation;
    animation-duration: 0.5s;
    animation-direction: initial;
}

@keyframes modalAnimation {
    0% {
        top: 100px;
    }
    100% {
        top: 0;
    }
}